###########
# Backups #
###########
Box2D_v2.2.1/Testbed/Tests/Tutorial/*~
*~

############
# Compiled #
############
*.o
sfml-app

###############
# Other files #
###############
Makefile
Box2D*/*
SFML-2.0/*