###########
# Backups #
###########

Box2D_v2.2.1/Testbed/Tests/Tutorial/*~
*~

############
# Compiled #
############
*.o
sfml-app

###############
# Other files #
###############
Makefile
Box2D_v2.2.1/Box2D/*
Box2D_v2.2.1/Build/*
Box2D_v2.2.1/Documentation/*
Box2D_v2.2.1/freeglut/*
Box2D_v2.2.1/glui/*
Box2D_v2.2.1/HelloWorld/*
Box2D_v2.2.1/*.txt
Box2D_v2.2.1/*.lua
Box2D_v2.2.1/Testbed/*.txt
Box2D_v2.2.1/Testbed/*.h
Box2D_v2.2.1/Testbed/*.cpp
Box2D_v2.2.1/Testbed/Framework/*
Box2D_v2.2.1/Testbed/Tests/*.h
Box2D_v2.2.1/Testbed/Tests/*.cpp
SFML-2.0/*